:root {
  /* colors */
  --green: #c8f050;
  --white: #ffffff;
  --background: #050606;
  --green-50: #edf9ff;
  --green-100: #d7f1ff;
  --green-200: #b8e8ff;
  --green-300: #88dbff;
  --green-400: #50c5ff;
  --green-500: #c8f050;
  --green-600: #76a30d;
  --green-700: #0a74f3;
  --green-800: #0f5abe;
  --green-900: #3d5314;
  --green-950: #1f2e05;

  /* colors neutral */
  --n1: #141416;
  --n2: #23262f;
  --n3: #353945;
  --n4: #777e90;
  --n5: #b1b5c3;
  --n6: #e6e8ec;
  --n7: #f4f5f6;
  --n8: #fcfcfd;
}
