:root {
  /* colors */
  --green: #c8f050;
  --white: #ffffff;
  --background: #050606;
  --azure-50: #edf9ff;
  --azure-100: #d7f1ff;
  --azure-200: #b8e8ff;
  --azure-300: #88dbff;
  --azure-400: #50c5ff;
  --green-500: #c8f050;
  --green-600: #76a30d;
  --azure-700: #0a74f3;
  --azure-800: #0f5abe;
  --azure-900: #134e95;
  --azure-950: #11305a;

  /* colors neutral */
  --n1: #141416;
  --n2: #23262f;
  --n3: #353945;
  --n4: #777e90;
  --n5: #b1b5c3;
  --n6: #e6e8ec;
  --n7: #f4f5f6;
  --n8: #fcfcfd;
}
