.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px;
}

.faq_container {
  display: flex;
  flex-direction: column;
}

.text,
.subtitle {
  color: var(--n4);
}

.title {
  margin-top: 24px;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
